body {
    width: 50%;
    font-family: "Helvetica";
}
/* 
.profile {
    display: flex;
    width: 40; 
    float:left;
    justify-content: center;
    align-items: center; 
    width: 200px;
}

.profile_body {
    width: 60%; 
    float: right
} */

p {
    line-height: 1.2;
}

a {
    color: orangered
}

.container {
    display: flex;
}

.left-column {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column img {
    max-width: 70%;
    height: auto;
}
.right-column {
    width: 60%;
}