body {
    width: 50%;
    font-family: "Helvetica";
}

p {
    line-height: 1.2;
}

a {
    color: orangered
}

.container {
    display: flex;
}

.left-column {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 3%;
}

.left-column img {
    max-width: 70%;
    height: auto;
}
.right-column {
    width: 60%;
}